@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0;
    font-family: 'Anton', sans-serif;
}
.name{
    position: absolute;
    color: grey;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 30px;
}
.navigation{
    background-color: black;
}
.first{
    padding-top: 2px;
    padding-left: 1px;
    width: 60px;
    border: 3px;
    border-radius: 50px;
}
.nav{
    padding-left: 400px;
    font-size: 20px;
    position: absolute;
    padding-top: 25px;
}
.nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Sec1 */
.sec1{
     margin-top: 0px;
     background-color: whitesmoke;
     /* background-image: url(orange.png); */
     /* background-repeat: no-repeat;
     background-position: 800px;
     padding-left: 260px; */
     padding: 15vh 0;
     /* padding-bottom: 290px; */
}
.sec1 h1{
    font-size: 3rem;
    padding-left: 5vw;
}
.sec1 h1 span{
    display: block;
    font-size: 12rem;
}
.sec1 p{
    padding-left: 5vw;
    font-size: 2rem;
    font-family : Anton;

}

/* Sec2 */
.sec2{
    background-color: black;
    padding: 10vh 0;
    height: 110vh;
}
.sec2 h1, h2{
    font-size: 5rem;
    padding-left: 5vw;
    color: white;
}
.sec2 h2{
    font-size: 2.5rem;
    color: white;
    opacity: 0.5;
}
.sec2 p{
    display: block;
    margin-top: 5vw;
    font-size: 1.2rem;
    color: aliceblue;
    padding-left: 15vw;
}
.sec2 p span{
    margin-right: 2rem;
    font-size: 5rem;
    border-bottom: 4px solid red;
}

/* .search{
    padding-left: 200px;
    width: 300px;
}
.form{
    padding-left: 300px;
    width: 300px;
}
.compcv{
    padding-top: 100px;
    padding-left: 500px;
    width: 300px;
} */
/* .txt{
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(25, 25, 92);
    font-size: 20px;
    padding-top: 20px;
    position: absolute;
}  */
/* #txt1{
    padding-left: 200px;
}
#txt2{
    padding-left: 870px;
}
#txt3{
    padding-left: 505px;
} */

/* Sec3 */
.sec3{
    /* background-image: url(ordesign.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    padding-top: 130px;
    padding-left: 50px;
    padding-bottom: 200px; */
    height: 70vh;
    width: 100vw;
    display: flex;
}
.sec3 p{
    padding-left: 5vw;
}
/* .cvpic{
    position: absolute;
    width: 400px;
    padding-left: 700px;
} */
.head{
    font-size: 5rem;
    /* font-family: "Copperplate"; */
    padding-top: 10vh;
}
.data{
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    padding-top: 50px;
    padding-bottom: 20px;
}
.btn{
    height: 9vh;
    margin: 5vw;
    /* margin-top: 50px;
    margin-left: 200px; */
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: crimson;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 4px grey;
}
.sec3 img{
    cursor: pointer;
    height: 80vh;
    position: absolute;
    left : 65vw;
}